.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 800px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#pop_header {
	display: flex;
}
div#pop_header p {
	width: 50%;
	text-align:center;
	padding:10px 0 10px 0;
	margin: 0;
}
div#pop_header p#head1 {
	border-style: solid;
	border-width: 0px 1px 0px 0px;
}
div#pop_header p#head2 {
	border-style: solid;
	border-width: 0px 0px 2px 1px;
}
div#pop_header p:hover{
	background-color: #8f8f8f;
}
div#pop_body {
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	height:550px;
	width: 96%;
	background-color: #f5f5f5;
}

.form_transfo{
	margin: 20px;
	font-size: 13px;
}

div#trans_fichier{
	display: none;
}
div#pop_body form {
}
div#pop_body fieldset {
	padding:10px 20px 20px 20px;
	margin-bottom:10px;
	border:1px solid black;
}
div#pop_body legend {
	color: black;
	font-weight:bold
}
div#pop_body label {
	margin-top:0px;
	display:block;
	}
div#pop_body label.inline {
	display:inline;
	margin-right:50px;
}
div#pop_body select {
	margin-top: 0;
}
div#pop_body input[type="text"], input[type="number"], div#pop_body textarea, div#pop_body select, div#pop_body option {
	background-color:#ffffff;
}

div#pop_body input[type="text"], input[type="number"] {
  max-width: 90px;
}

div#pop_body input[type="number"], input[type="text"], div#pop_body textarea, div#pop_body select {
	padding:3px;
	border:1px solid black;
	border-radius:5px;
	box-shadow:1px 1px 2px #C0C0C0;
	font-size:0.9em;
	margin-right: 15px;
}
div#Projetées {
	display:block;
}
div#Geog {
	display:none;
}
div#Cart {
	display:none;
}
div#Projetées2 {
	display:block;
}
div#Geog2 {
	display:none;
}
div#Cart2 {
	display:none;
}
#type_altimetre_projetee_coord, #type_altimetre_projetee_coord2{
	display:flex;
	border:0.5px solid black;
	margin-right:15px;
}
#sys_alti_depart_coord {
	display:none;
}
div#Projetées input[type="radio"]{
	margin: auto 5px auto 5px;
}
div#pop_body input#vert {
	width: 70px;
}
div#pop_body input[type="text"].input_calc_coord{
	background-color: gray;
}

#inputfile {
  position: absolute;
  opacity: 0;
}

#separateur, #ligne_start {
  width: 30px;
  text-align: center;
}

.input_transfo_fichier {
  position: relative;
  top: 5px;
  left: 5px;
}


.button_popup_calc {
	width: 280px;
	background-color: #E34112;
	color: white;
	padding: 14px 0px 14px 0px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: .3s;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial;
	text-align: center;
}
.button_popup_calc:hover {
	background-color: #FF0303;
}