.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    transition: .5s;
}
.modal-content {
    background-color: #fefefe;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #888;
    width: 60vw;
    min-width: 850px;
}
.close {
    color: #aaaaaa;
    float: right;
    position: relative;
    right: -15px; top: -15px;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#pop_header {
  position: absolute;
  top: 0;left: 0;
	display: flex;
  cursor: pointer;
  height: 45px;
  transition: .5s;
  opacity: 1;
  width: 100%;
}

#pop_header .head {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pop_header p {
	display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
	padding:0;
	margin: 0;
}

#pop_header .underline {
  position: relative;
  top: 3px;
  width: 90%;
  margin: 0;
  height: 0;
  border-bottom: 3px solid #E34112;
  transition: .8s ease-in-out;
}
#pop_header #underline_fichier { width: 0%;}


#pop_header:hover{
	background-color: #8f8f8f;
  box-shadow: inset 400px 0 50px 2px #f5f5f5;
}
#pop_body {
  position: relative;
	border: 2px solid #E34112;
  border-radius: 5px;
  height:550px;
	width: 96%;
	background-color: #f5f5f5;
}

.form_transfo{
  position: absolute;
  top: 40px; left: 0;
	margin: 11px;
  width: 97%;
	font-size: 13px;
  display: flex;
  z-index: 200;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  height: 485px;
  transition: .3s ease-in-out;
}

#trans_point {
  visibility: visible;
  opacity: 1;
}

#trans_fichier{
	visibility: hidden;
  opacity: 0;
}

#pop_body fieldset {
	padding:10px;
	margin-bottom:15px;
	border: 1px solid black;
}

div#pop_body legend {
	color: black;
	font-weight:bold
}
div#pop_body label {
	display:block;
  text-align: center;
	}
div#pop_body label.inline {
	display:inline;
	margin-right:30px;
}

#pop_body select {
  background-color:#ffffff;
  padding:3px;
	border:1px solid #dddddd;
	border-radius:5px;
	box-shadow:1px 1px 2px #C0C0C0;
	font-size:0.9em;
	margin: 1px 20px;
  height: 28px;
  max-height: 35px;
  min-width: 150px;
  max-width: 200px;
}

#pop_body input[type="number"], #pop_body input[type="text"] {
  background-color:#ffffff;
  padding:3px;
	border:1px solid #bbbbbb;
	border-radius:5px;
	box-shadow:2px 2px 5px #C0C0C0;
	font-size:0.9em;
	margin-right: 11px;
  max-height: 25px;
  max-width: 110px;
}

.deviation-verticale {
  margin-left:40px;
}

.type-alti{
	display:flex !important;
  align-items: center;
  justify-content: center;
	border: 1px inset #B38888;
	margin-right:15px;
  padding: 10px;
}
.type-alti label {
  position: relative;
  top: 2px;
  margin: 3px;
}

.systeme-alti {
  min-width: 120px;
  margin: 5px 20px;
}

#pop_body input[type="text"]:read-only {
	background-color: rgb(240, 230, 230);
  font-family: sans-serif;
  font-weight: bold;
  width: 100px;
  max-width: 100px;
  text-align: center;
}

#input-file-in {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1000;
}

#name-import-file-in {
  max-width: 250px !important;
  width: 250px;
  height: 40px;
  color: black;
  text-align: center;
  font-family: monospace;
  border: 1px none #E34112;
  box-shadow:2px 2px 8px #C0C0C0 !important;
}

.put-inline {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
}

#reset-input-file-in {
  color: #aaaaaa;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
}

#reset-input-file-in:hover :focus {
  color: #000;
  text-decoration: none;
}

#container-input-file label {
  max-width: 280px;
  background-color: #E34112;
  color: white;
  padding: 0 15px;
  margin: 10 25px;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#separateur-file-in, #ligne-start-file-in {
  max-width: 50px !important;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  margin-right: 20px;
}

#extension-file-out {
  max-width: 70px !important;
  min-width: 70px !important;
  margin: 0 !important;
  font-family: monospace;
  border-style: none !important;
  box-shadow: 1px 1px 8px #C0C0C0 !important;
  height: 30px;
}

#nom-export-file-out {
  max-width: 180px !important;
  width: 180px;
  text-align: right;
  padding-right: 20px;
  font-family: monospace;
  border-style: none;
  height: 30px;
}

.input-transfo-fichier {
  position: relative;
  left: 5px;
  margin-left: 0px !important;
  margin-right: 10px !important;
}

#selection-formatage-in, #selection-formatage-out {
  max-width: 200px !important;
  width: 200px;
}

.inputs-coord {
  display: flex;
}
.button_popup_calc {
	max-width: 280px;
	background-color: #E34112;
	color: white;
	padding: 15px 30px;
	margin: 0 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: .3s;
	font-weight: bold;
	font-size: 15px;
	font-family: Arial;
	text-align: center;
}
.button_popup_calc:hover {
	background-color: #EE1313;
}

#loader-filtre {
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  position: fixed;
  top: 0;bottom: 0;left: 0;right: 0;
  z-index: 1000;
  background-color: rgba(110,100,100,.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-close {
  position: absolute;
  top: -10px;right:-10px;
}

.loading {
  transition: .5s;
  position: fixed;
  width: 700px;
  min-height: 140px;
  padding: 25px;
  margin: 0;
  box-shadow: 0 0 15px 35px #f5eeee;
  background-color: #f5eeee;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 1.3em;
  font-family: sans-serif;
}
#loader-content {
  border: 2px solid grey;
}
#error-content {
  visibility: hidden;
  border: 3px solid #cc0000;
  max-height: 80%;
}

#error-message {
  color: rgba(240, 10, 10, .9);
  overflow-y: scroll;
  max-height: 90%;
}
#error-ok {
  font-size: 0.8em;
  color: rgba(200, 20, 10, .8);
  text-decoration: underline;
  transition: .3s;
  cursor: pointer;
}
#error-ok:hover {
  text-shadow: 1px 1px 3px rgba(200, 20, 10, .6);
}

#loader-message {
  color: rgba(200, 20, 10, .8);
}

#loader-glissement {
  position: relative;
  left: -25px;
}

@keyframes chargement_glissement {
  0%{transform: translate(-60px, 0px); box-shadow: 3px 3px 3px lightgrey; background: rgb(200, 20, 10);opacity: 0;}
  10%{transform: scale(1); transform: translate(-54px, 0px);}
  50%{opacity: 1}
  90%{transform: scale(1); transform: translate(54px, 0px);}
  100%{transform: translate(60px, 0px); box-shadow: 3px 3px 3px lightgrey; background: rgb(200, 20, 10);opacity: 0;}
}

#loader-glissement div{
  position: absolute;
  width: 20px;
  height: 20px;
  animation: chargement_glissement 2s infinite linear;
  border-radius: 100%;
}
#loader-glissement div:nth-child(2){animation-delay: 0.5s}
#loader-glissement div:nth-child(3){animation-delay: 1s}
#loader-glissement div:last-child{animation-delay: 1.5s}
